{% extends "base/layout.html" %}

## Title
{% block title %}{{ options.title }}{% endblock %}

## Javascript
{% block javascript -%}
    <script>
        document.oncontextmenu = function() { return false }
        document.onselectstart = function() { return false }
    </script>
{%- endblock %}

## Header
{% block header -%}
    <div id="loader-bar" class=""></div>
    <article id="introduce" class="container">
        <h1>Train Query Helper</h1>
        <p>Distributed under the MIT License.<br/>
        Implemented in Python. Written by ShadowMan(Wang).
        </p>
        <p class="server-status"><span id="server-status-span">ServerStatus</span> Online: <span id="online-count"><span></p><p class="server-status">Active: <span id="active-count"></span></p>
    </article>
{%- endblock %}

## Contents
{% block contents -%}
    <form action="/index.html" method="POST" onsubmit="return false">
        {{ function.inputGroup('fromStation', 'FROM STATION', bind='hFStation') }}
        {{ function.input('fromStationCode', id='hFStation', hidden=true, bind='fromStation') }}
        {{ function.inputGroup('toStation', 'TO STATION', bind='hTStation') }}
        {{ function.input('toStationCode', id='hTStation', hidden=true, bind='toStation') }}
        {{ function.inputGroup('date', 'DATE', type='date', bind='date') }}
        {{ function.button('Submit', disable=true, class='widget-button-disable') }}
    </form>

    <section id="query-result">
        <!-- Display Contents -->
        <section id="train-info">
            <h2 id="train-count"><span>&nbsp;</span></h2>
            <table class="train-lists">
                <thead>
                    <tr>
                        <td>Code</td><td>Class</td><td>Start</td><td>Arrive</td><td>Total</td><td>Buy</td><td>Query</td>
                    </tr>
                </thead>
                <tbody class="trains-list">
                    <!-- Train Item -->
                </tbody>
            </table>
        </section>
    </section>
{%- endblock contents -%}
