@CHARSET "UTF-8";
/**
 * Grid Style
 */
*,
*::before,
*::after {
    cursor: inherit;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
.container {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    margin-right: auto;
    margin-left: auto;
}
.container::after {
    display: table;
    clear: both;
    content: "";
}
@media (min-width: 544px) {
    .container {
        max-width: 576px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 940px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
/**
 * Webkit ScrollBar Style
 */
::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.1);
    color: #F00;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.4);
}
/**
 * Main Style
 */
html {
    font-size: 62.5%;
    /* font-size: 12px; */
    font-family: sans-serif;
    overflow-y: scroll;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    height: 100vh !important;
    cursor: default;
    color: rgb(51, 51, 51);
    font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    background-color: rgb(241, 241, 241);
    border: 1px solid transparent;
    margin: 0;
}
.widget-hidden {
    display: none !important;
}
#loader-bar {
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 99;
    opacity: 0;
    transition: all 0.4s linear 0.4s;
}
#loader-bar.is-loading {
    opacity: 100;
    height: .2rem !important;
    background: #77b6ff;
    box-shadow: 0 0 10px rgba(119,182,255,0.7);
    transition: all .35s ease;
}
header {
    font-size: 2rem;
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}
header h1 {
    font-size: 3rem;
    font-style: italic;
    font-family: Georgia, serif;
    font-weight: normal;
}
#introduce p {
    margin-bottom: 0;
}
#server-status-span {
    color: #00BCD4;
}
#server-status-span::after {
    content: ': ';
}
.server-status {
    color: #9E9E9E;
    display: inline;
    margin-right: 1rem;
}
.server-status #online-count {
    color: green;
}
.server-status #active-count {
    color: red;
}
form {
    text-align: center;
}
.widget-input-group {
    margin-bottom: 1rem;
    display: inline-table;
    vertical-align: middle;
}
.widget-input-group input {
    cursor: text;
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: .25rem;
    transition: all .35s;
}
.widget-input-group input:focus {
    border-color: #66afe9;
    outline: none;
}
.widget-input-group input[type='date'] {
    height: 38px;    
}
label {
    cursor: pointer;
    display: table-cell;
    white-space: nowrap;
    padding: .5rem .75rem;
    font-size: 1.5rem;
    vertical-align: middle;
    font-weight: normal;
    line-height: 1;
    color: #55595c;
    text-align: center;
    background-color: #eceeef;
    border: 1px solid #ccc;
    border-right: 0;
    border-radius: .25rem 0 0 .25rem;
}
label + input {
    border-radius: 0 .25rem .25rem 0;
}
.widget-btn {
    display: inline-block;
    padding: .375rem 1rem;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition-property: background, border;
    transition-duration: .35s;
}
.widget-btn:focus,
.widget-btn:active:focus,
.widget-btn.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.widget-btn:focus, .widget-btn:hover {
    text-decoration: none;
}
.widget-btn.focus {
    text-decoration: none;
}
.widget-btn:active, .widget-btn.active {
    background-image: none;
    outline: 0;
}
.widget-btn.disabled, .widget-btn:disabled {
    cursor: not-allowed;
    opacity: .65;
}
.widget-btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.widget-btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
button {
    height: 38px;
    margin-bottom: 1rem;
    font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-style: italic;
}
.widget-input-error {
    border-color: #f00 !important;
}
.widget-button-disable {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
}
.widget-button-error {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.widget-button-error:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
#tra_contents {
    
}

ul, li {
    list-style: none;
}
.train-info p {
    display: inline;
}

#train-count {
    text-align: center;
    white-space: nowrap;
    overflow: scroll;
}
.train-loaded {
    color: #0F0;
}
.train-failed {
    color: #F00;
}