@CHARSET "UTF-8";

@import "variable";

/**
 * Webkit ScrollBar Style
 */
::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.1);
    color: #F00;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.4);
}
/**
 * Style reset
 */
*,
*::before,
*::after {
  cursor: inherit;
  box-sizing: inherit;
}
/**
 * Main style
 */
html {
    font-size: 62.5%;
    font-family: sans-serif;
    overflow-y: scroll;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    height: 100vh !important;
    cursor: default;
    color: rgb(51, 51, 51);
    font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    background-color: rgb(241, 241, 241);
    border: 1px solid transparent;
    margin: 0;
}
#app {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  margin-right: auto;
  margin-left: auto;

  &::after {
    display: table;
    clear: both;
    content: "";
  }
}
header {
  font-size: 2rem;
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 1rem;

  h1 {
    font-size: 3rem;
    font-style: italic;
    font-family: Georgia, serif;
    font-weight: normal;
  }

  @at-root {
    .load-bar {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 99;
      @include prefix(transition, all .5s ease-in-out)
    }
    .load-bar.is-loading {
      height: .2rem;
      background: #77b6ff;
      box-shadow: 0 0 10px rgba(119, 182, 255, 0.7);
    }
    .fade-enter-active, .fade-leave-active {
      @include prefix(transition, all .5s ease-in-out)
    }
    .fade-enter, .fade-enter-to {
      opacity: 0;
    }
    .fade-leave, .fade-leave-to {
      opacity: 1;
    }
  }
}
.container {
  display: flex;

  @at-root {
    .train-query-parameter {
      margin: 0 auto;
      margin-bottom: 1rem;

      div {
        margin-right: 2rem;
        display: inline-table;
        vertical-align: middle;

        label {
          cursor: pointer;
          display: table-cell;
          white-space: nowrap;
          padding: .5rem .75rem;
          font-size: 1.5rem;
          vertical-align: middle;
          font-weight: normal;
          line-height: 1;
          color: #55595c;
          text-align: center;
          background-color: #eceeef;
          border: 1px solid #ccc;
          border-right: 0;
          border-radius: .25rem 0 0 .25rem;
        }

        input {
          cursor: text;
          display: block;
          width: 100%;
          padding: .5rem .75rem;
          font-size: 1.6rem;
          line-height: 1.5;
          color: #55595c;
          background-color: #fff;
          background-image: none;
          border: 1px solid #ccc;
          border-radius: .25rem;
          transition: all .35s;

          &:focus {
            border-color: #66afe9;
            outline: none;
          }
        }

        label + input {
          border-radius: 0 .25rem .25rem 0;
        }
      }

      .train-query-submit {
        display: inline-block;
        padding: .375rem 1rem;
        font-size: 1.4rem;
        font-weight: normal;
        line-height: 1.5;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        @include prefix(user-select, none);
        border: 1px solid transparent;
        border-radius: .25rem;
        transition-property: background, border;
        transition-duration: .35s;

        color: #333;
        background-color: #fff;
        border-color: #ccc;

        &:focus, &:active:focus {
          outline: thin dotted;
          outline: 5px auto -webkit-focus-ring-color;
          outline-offset: -2px;
        }
      }
    }
    .input-group-label {
      &::after {
        content: ': ';
      }
    }
  }
}