<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js"></script>-->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="static/component.js"></script>
    <script src="static/main.js"></script>
    <title>Train Query</title>
</head>
<body>
    <div id="app">
        <train-query-header :progress="progress" :online_count="online_count" :active_count="active_count"></train-query-header>
        <train-query-contents></train-query-contents>
        <train-query-footer></train-query-footer>
    </div>
</body>
</html>